@model IEnumerable<WADWebsite.Models.Student>

    @{
        ViewData["Title"] = "StudentList";

    }

    <h1>StudentList</h1>
   

    <p class="float-right">
        <a asp-action="Create" class="btn btn-primary">Add New</a>
    </p>
    <p>
        @using (Html.BeginForm("SLists", "Home", FormMethod.Get))
        {
            <b>Search By:</b>
            @Html.RadioButton("searchBy", "Name", true) <text>FirstName</text>
            @Html.RadioButton("searchBy", "Email") <text>Email</text><br />
            @Html.TextBox("search") <input type="submit" value="Search" />
        }
    </p>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover border-bottom">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Mobile)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JoinDate)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.JoinDate)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Create", new { id = item.ID, item.FirstName, item.LastName, item.Email, item.Mobile, item.Description, item.DepID, item.JoinDate }, new { @class = "btn-btn-success" }) |
                            @Html.ActionLink("Delete", "DeleteStd", new { id = item.ID }, new { @class = "btn-btn-danger", onclick = "return confirm('Do you really want to delete this record?')" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
 </div>  